<!doctype html>
<html>
{{> header}}
<body style="background-color:{{backgroundColor}}">
<div>
<span style="margin:5px">
</span>
    <ul>
        <li>
            <ul>
            {{started}} -> {{activityName}} - {{activityLocation}}
            </ul>
            <ul>
            Activity : {{at}}
            </ul>
            <ul>
            Destination :{{dt}}
            </ul>
            <ul>
            Place : {{pt}}
            </ul>
        </li>
    </ul>
</div>
</body>
</html>