<!doctype html>
<html>
{{> header}}
<body style="background-color:{{backgroundColor}}">
{{#ws}}{{> websocket}}{{/ws}}
{{#ws}}{{> cookies}}{{/ws}}
<div>
<span style="margin:5px">
</span>
{{started}} -> {{chapterName}}
{{#debug}}
    <ul>
        <li>
            <ul>
            "Activity" : {{at}},
            </ul>
            <ul>
            "Destination" :{{dt}},
            </ul>
            <ul>
            "Place" : {{pt}},
            </ul>
            <ul>
            "ActivityMode" : {{mt}}
            </ul>
        </li>
    </ul>
{{/debug}}
</div>
{{#ws}}
<script>
function toSendData(){
    const lastChangeActivity = getCookie("lastChangeActivity")
    const timestampActivity = "{{started}}"
    const chapterName = "{{chapterName}}".replaceAll('&#39;',"'")
    if (lastChangeActivity !== timestampActivity && chapterName.trim() !== ""){
        setCookie("lastChangeActivity",timestampActivity)
        sendTextToTwitch(`!chapter ${chapterName}|${timestampActivity}`)
    }
}
</script>
{{/ws}}
</body>
</html>