<!doctype html>
<html>
{{> header}}
<body style="background-color:{{backgroundColor}}">
<div>
<span style="margin:5px">
</span>
    <ul>
        <li>
            <ul>
            {{started}} -> {{chapterName}}
            </ul>
            <ul>
            "Activity" : {{at}},
            </ul>
            <ul>
            "Destination" :{{dt}},
            </ul>
            <ul>
            "Place" : {{pt}},
            </ul>
            <ul>
            "ActivityMode" : {{mt}}
            </ul>
        </li>
    </ul>
</div>
</body>
</html>