<span>
    {{#__}}needed{{/__}}/
    {{#__}}count{{/__}}/
    {{#__}}complete{{/__}}/
    {{#__}}todo{{/__}}/
    {{#__}}remaining{{/__}}
</span>
<li>
    <div style="display:inline-flex">
        <img style="height:{{allCharactersSizeIcon}}px;width={{allCharactersSizeIcon}}px" src={{icon}} />&nbsp;<span style="line-height:{{allCharactersSizeIcon}}px">{{needed}}/{{count}}/{{complete}}/{{todo}}/{{remaining}}</span>
    </div>
</li>