<!doctype html>
<html>
{{> header}}
<body style="background-color:{{backgroundColor}}">
<div>
    <ul>
        {{#characters}}
        <li>{{class}}
            <ul>
                {{#total}}
                    <li><div style="display:inline-flex"><span style="line-height:{{allCharactersSizeIcon}}px">{{needed}}/{{count}}/{{complete}}/{{todo}}/{{remaining}}</span></div></li>            
                {{/total}}
                {{#groups}}
                    {{#strikes}}
                    {{> bountiesgroup}}
                    {{/strikes}}
                    {{#crucible}}
                    {{> bountiesgroup}}
                    {{/crucible}}
                    {{#gambit}}
                    {{> bountiesgroup}}
                    {{/gambit}}
                {{/groups}}
            </ul>
        </li>
        {{/characters}}
    </ul>
</div>
</body>
</html>