<body style="background-color:{{backgroundColor}}">
<div>
    <ul>
        {{#character}}
        <li>{{classCharacter}}
            <ul>
                <li><div style="display:inline-flex"><span style="line-height:{{sizeIcon}}">${displayTotal.needed}/${displayTotal.count}/${displayTotal.complete}/${displayTotal.remaining}</span></div></li>
                <li><div style="display:inline-flex"><img style="height:{{sizeIcon}};width={{sizeIcon}}" src={{bountyGroup.icon}} />&nbsp;<span style="line-height:${sizeIcon}">${bountyNeedCount}/${bountyGroup.count}/${bountyGroup.complete}</span></div></li>
            </ul>
        </li>
        {{/character}}
    </ul>
</div>
</body>