<div class="row">
    <div class="col">
        <img style="height:{{allCharactersSizeIcon}}px;width={{allCharactersSizeIcon}}px" src={{icon}} />
    </div>
    <div class="col" style="text-align:center">
        {{needed}}
    </div>
    <div class="col" style="text-align:center">
        {{count}}
    </div>
    <div class="col" style="text-align:center">
        {{complete}}
    </div>
    <div class="col" style="text-align:center">
        {{todo}}
    </div>
    <div class="col" style="text-align:center">
        {{remaining}}
    </div>
</div>