<!doctype html>
<html>
{{> header}}
<body style="background-color:{{backgroundColor}}">
<div class="container">
    <div class="row">
        <div class="col" style="text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;font-size:small;padding-left:30px;line-height:22px;background-size:contain;background-image:url({{emblemBackground}});background-repeat:no-repeat;color:white">
        {{class}}
        </div>
        <div class="col">
        {{#__}}needed{{/__}}
        </div>
        <div class="col">
        {{#__}}count{{/__}}
        </div>
        <div class="col">
        {{#__}}complete{{/__}}
        </div>
        <div class="col">
        {{#__}}todo{{/__}}
        </div>
        <div class="col">
        {{#__}}remaining{{/__}}
        </div>
    </div>
    {{#groups}}
        {{#strikes}}
        {{> bountiesgroup}}
        {{/strikes}}
        {{#crucible}}
        {{> bountiesgroup}}
        {{/crucible}}
        {{#gambit}}
        {{> bountiesgroup}}
        {{/gambit}}
    {{/groups}}
</div>
</body>
</html>