<!doctype html>
<html>
{{> header}}
<body style="background-color:{{backgroundColor}}">
{{#saved}}
    <div class="alert alert-success" role="alert">
        {{#__}}settingsSaved{{/__}}&nbsp;{{settingstimeSaved}}
    </div>
{{/saved}}
<form method="post">
    <div class="container">
        <div class="row">
        <h2>{{#__}}globals{{/__}}</h2>
            <div class="col-4 p-2">
                <label class="form-label">{{#__}}bountiesGroups{{/__}}</label>
            </div>
            <div class="col p-2">
                <input type="checkbox" class="btn-check" id="btn-check-strikes" name="strikesAllowed" {{#strikesAllowed}}checked{{/strikesAllowed}} autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-strikes">{{#__}}strikes{{/__}}</label>
            </div>
            <div class="col p-2">
                <input type="checkbox" class="btn-check" id="btn-check-crucible" name="crucibleAllowed" {{#crucibleAllowed}}checked{{/crucibleAllowed}} autocomplete="off">
                <label class="btn btn-outline-danger" for="btn-check-crucible">{{#__}}crucible{{/__}}</label>
            </div>
            <div class="col p-2">
                <input type="checkbox" class="btn-check" id="btn-check-gambit" name="gambitAllowed" {{#gambitAllowed}}checked{{/gambitAllowed}} autocomplete="off">
                <label class="btn btn-outline-success" for="btn-check-gambit">{{#__}}gambit{{/__}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2">
                <label for="bountyNeedCount" class="form-label">{{#__}}bountyNeedCount{{/__}}</label>
            </div>
            <div class="col-8 p-2" style="display:flex">
                <input style="width:60px;margin-right:15px" type="number" class="form-range" min="1" max="20" name="bountyNeedCount" id="bountyNeedCount" value="{{bountyNeedCount}}">
                <input type="range" class="form-range" min="1" max="20" id="bountyNeedCountRange" value="{{bountyNeedCount}}">
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-2">
                <input type="checkbox" class="btn-check" id="btn-check-auto-refresh" name="autoRefreshEnabled" {{#autoRefreshEnabled}}checked{{/autoRefreshEnabled}} autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-auto-refresh">{{#__}}autoRefresh{{/__}}</label>
            </div>
            <div class="col-8 p-2" style="display:flex">
                <input style="width:60px;margin-right:15px" type="number" class="form-range" min="60" max="3600" name="autoRefresh" id="autoRefresh" value="{{autoRefresh}}">
                <input type="range" class="form-range" min="60" max="3600" id="autoRefreshRange" value="{{autoRefresh}}">
            </div>
        </div>
        <div class="row">
        <h2>{{#__}}allCharacters{{/__}}</h2>
            <div class="col-4 p-2">
                <label for="allCharactersSizeIcon" class="form-label">{{#__}}allCharactersSizeIcon{{/__}}</label>
            </div>
            <div class="col-8 p-2" style="display:flex">
                <input style="width:60px;margin-right:15px" type="number" class="form-range" min="8" max="200" name="allCharactersSizeIcon" id="allCharactersSizeIcon" value="{{allCharactersSizeIcon}}">
                <input type="range" class="form-range" min="8" max="200" id="allCharactersSizeIconRange" value="{{allCharactersSizeIcon}}">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 p-2">
                <button class="btn btn-primary" type="submit">{{#__}}save{{/__}}</button>
            </div>
            <div class="col-2 p-2">
                <button class="btn btn-secondary" onclick="window.location.href='/';return false;" type="cancel">{{#__}}cancel{{/__}}</button>
            </div>
        <div>
    </div>
</form>
<script>
function updateInput(e){
    const inputE = e.target.id.replace("Range","")
    document.getElementById(inputE).value=e.target.value
}
document.getElementById("allCharactersSizeIconRange").addEventListener("change",updateInput)
document.getElementById("bountyNeedCountRange").addEventListener("change",updateInput)
document.getElementById("autoRefreshRange").addEventListener("change",updateInput)
</script>
</html>