<script>
let socket
const userId="d2-helper"
function initializeConnections(){
socket = new WebSocket("ws://127.0.0.1:8081");
}
initializeConnections()
socket.onopen = () => {
    const s = {
        "request": "Subscribe",
        "id": userId,
        "events": {"Twitch":["Message"]}
    };

    socket.send(JSON.stringify(s));
    console.debug(['Connected to Streamer.Bot socket:', socket]);
    setTimeout(()=>{
     if (toSendData){
        toSendData()
    }},5000)
};

socket.onclose = function () {
    console.warn('Disconnected from Streamer.Bot socket.');
    setTimeout(initializeConnections, 10000);
};

socket.onmessage = async (event) => {
    const wsdata = JSON.parse(event.data);

    console.debug(['Event', wsdata]);

    if (wsdata.id === userId) {
        console.debug([`SUBSCRIBE: ${wsdata.status}`, wsdata]);
    }
}
function sendData(args){
    const data = {
        request: 'DoAction',
        action: {
            id: args.actionId || '97495e12-e3a5-4db4-8c79-11901fd8178d'
        },
        args,
        id: `${Date.now()}`
        };
    socket.send(JSON.stringify(data));
}
function  sendChapterToStreamerBot(chapterName:string,chapterTime:string){
    sendData({
        chapterName,
        chapterTime,
        actionId:"e02d7a07-8d32-491b-ac9c-81c03b801f4f"
    })
}
function sendTextToTwitch(text){
    sendData({
            message: text,
            platform: "twitch"
        })
}
</script>