<html>
<body>
<h1>Destiny 2 bounties helper</h1>
<p>{{#__}}intro{{/__}}</p>
{{^refreshToken}}
<div><a href="{{authLink}}">{{#__}}authText{{/__}}</a></div>
{{/refreshToken}}
{{#refreshToken}}
<div><p>
{{#__}}validToken{{/__}}&nbsp;{{#__}}timeValidity{{/__}}
</p></div>
<div><a href="{{allCharacters}}">{{#__}}allCharacters{{/__}}</a></div>
{{/refreshToken}}
</body>
</html>